@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@layer base{
  body{
    @apply bg-zinc-800 text-[11pt] text-zinc-200 font-[Manrope];
  }
}